@import "nav.css";
@import "menu.css";
.author {
    display: grid;
    font-size: 2em;
}

* {
    box-sizing: border-box;
}

.author {
    margin: 5px solid black;
    padding-left: 30%;
    padding-right: 30%;
}
.image img{
    width: 275px;
    height: 275px;
}
nav a:hover {
    text-decoration: none;
    color: rgb(68, 182, 3);
}

.blog-post {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 24px;
    width: 100%;
    height: 85px;
    padding-bottom: 30px;
    height: 72px;
    background: #225;
}


nav h2 {
    margin: 10px 20px;
    padding: 10px 22px;
}

/* Media Queries */

@media (max-width: 330px) {
    nav h2 {
        font-size: 22px;
    }
}

@media (min-width: 600px) {
    .navbar {
        display: flex;
    }

    .left,
    .right {
        display: flex;
        flex: 1;
    }

    .menu {
        width: auto;
    }

    .right {
        justify-content: flex-end;
    }

    .navbar div {
        display: flex;
    }
}

@media (max-width: 768px) {
    div {
        display: block;
    }
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px 15px 60px;
    margin: 35px 25px;
    width: 100%;
}

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    width: 320px;
    height: 675px;
    padding-bottom: 30px;
    text-align: center;
    border-radius: 5px solid #555;
    border-radius: 5px;
    background-color: rgb(211, 227, 238);
    text-decoration: none;
    align-content: center;
}

.column {
    padding: 20px 50px;
}

.card-image img {
    width: 275px;
    height: 215px;
}

.btn-viewmore {
    background: #225;
    border: 2px solid #114;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
footer {
    display: block;
    background: grey;
    color: black;
    height: 100px;
    margin-top: 20px;
    text-align: center;
    width: 100%;
}

footer p {
    padding-top: 40px;
    margin-bottom: 0;
}
