@import "footer.css";
@import "nav.css";
@import "menu.css";
.container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "header" "section" "footer";
    background-color: #037F8C;
    margin: 0px;
    border: 0px;
    padding: 0px;
}

* {
    box-sizing: border-box;
}

.blog-post {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 24px;
    width: 100%;
    height: 85px;
    padding-bottom: 30px;
    height: 72px;
    background: #225;
}


/* Media Queries */

@media (max-width: 330px) {
    nav h2 {
        font-size: 12px;
    }
    .menu {
        width: auto;
    }
}

@media (min-width: 600px) {
    .navbar {
        display: flex;
    }
    .left,
    .right {
        display: flex;
        flex: 1;
    }
    .menu {
        width: auto;
    }
    .right {
        justify-content: flex-end;
    }
    .navbar div {
        display: flex;
    }
}

@media (max-width: 768px) {
    div {
        display: block;
    }
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: opx;
}

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    width: 320px;
    height: 675px;
    padding-bottom: 30px;
    text-align: center;
    border-radius: 5px solid #555;
    border-radius: 5px;
    background-color: rgb(211, 227, 238);
    text-decoration: none;
    align-content: center;
    margin: 5px;
    box-shadow: 5px 5px 5px;
}

.column {
    padding: 20px 50px;
}

.card-image img {
    width: 275px;
    height: 215px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px;
}

.btn-viewmore {
    background: #225;
    border: 2px solid #114;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    color: red;
    cursor: pointer;
}